.bodytext {
    font-family: "Tangerine", cursive;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
}