.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F1E9D2;
    /* border-bottom: 1px solid #ccc; */
    z-index: 1000;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    height: 50px;
}

.nav-list li {
    margin: 0;
    padding: 0;
    border-left: 1px solid #ccc;
        font-family: "Tangerine", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.nav-list li:first-child {
    border-left: none;
}

.nav-list a,
.nav-list .brand {
    display: block;
    padding: 16px 24px 0px 24px;
    text-decoration: none;
    color: #333;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s;
}

nav ul li a:hover {
    border-bottom: 3px solid #fb7a06;
    /* text-decoration: underline; */
}

.brand {
    padding-top: 0px !important;
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    cursor: default;
}

body {
    background-image: url('/florencia/Media/backroundimg.JPG');
    /* Replace with your image path */
    background-size: cover;
    /* Makes the image cover the whole page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Keeps the background image fixed during scrolling */
    background-position: center;
    /* Centers the image */
    /* Sets a default font */
    margin: 0;
    padding: 0;
}

/* Add a faded overlay to the background image */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    /* Adjust opacity and color as needed */
    z-index: -3;
    pointer-events: none;
}

.headline {
    padding-top: 50px;
    /* Adjust padding to account for fixed nav */
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #0f0e0e;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 30px;
    /* Add space below headline */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
}